# Working with time data

In [1]:
import pandas as pd

## Extract datetimes for data frame columns

In [2]:
df = pd.DataFrame({
    'year': [2020, 2021],
    'month': [2, 3],
    'day': [4, 5],
    'hour': [12, 13]
})

In [3]:
df

   year  month  day  hour
0  2020      2    4    12
1  2021      3    5    13

In [4]:
pd.to_datetime(df)

0   2020-02-04 12:00:00
1   2021-03-05 13:00:00
dtype: datetime64[ns]

In [5]:
df['value'] = 1

In [7]:
df

   year  month  day  hour  value
0  2020      2    4    12      1
1  2021      3    5    13      1

In [8]:
# pd.to_datetime(df)  # error because value column is not a valid datetime component

## Truncating time series

In [15]:
ts = pd.Series(range(4),
               index=pd.date_range('2020-06-01', periods=4, freq='M'))

In [18]:
ts

2020-06-30    0
2020-07-31    1
2020-08-31    2
2020-09-30    3
Freq: M, dtype: int64

In [17]:
ts.truncate(before='2020-07-15', after='2020-09-17')

2020-07-31    1
2020-08-31    2
Freq: M, dtype: int64

In [19]:
ts.index

DatetimeIndex(['2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30'], dtype='datetime64[ns]', freq='M')

In [24]:
ts[[1, 2]].index

DatetimeIndex(['2020-07-31', '2020-08-31'], dtype='datetime64[ns]', freq='M')